.chat__main {
  background: rgb(17 24 39);
  width: 100%;
  height: 100vh;
  display: flex;
}

.viewer__main {
  width: 16rem;
  /* background: linear-gradient(to left, rgb(31 41 55 / .3) , rgb(31 41 55 / 0)); */
  padding: 0.8rem 1rem 1.2rem 1rem ;
}

.main_thing {
  width: 60%;
}

.all__chats {
  height: 85.6vh;
  overflow-y: scroll;
  margin-top: 2vh;
  padding: 1.6rem 1rem 1rem 0rem;
  background: linear-gradient(to left, rgb(31 41 55 / 0.3), rgb(31 41 55 / 0));
  border-top-right-radius: 8px;
}

.all__chats__sub::-webkit-scrollbar {
  display: none;
}

.all__chats::-webkit-scrollbar {
  display: none;
}

.current__chat__bg {
  padding: 0.55rem 0.8rem 0.65rem 0.8rem;
  background: rgb(55 65 81);
  color: rgb(209 213 219);
  border-radius: 8px;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.current__chat__no__bg {
  padding: 0.55rem 0.8rem 0.65rem 0.8rem;
  /* background: rgb(55 65 81); */
  color: rgb(209 213 219);
  border-radius: 8px;
  margin-bottom: 0.1rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.3s;
}

.current__chat__no__bg:hover {
  background: rgb(55 65 81);
}

.top__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.new__chat {
  background: rgb(55 65 81);
  border: 1px solid rgb(75 85 99);
  padding: 0.5rem 0.7rem;
  color: white;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}

.top__header > div {
  display: flex;
  align-items: center;
}

.top__header > div > span {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.where__we__chat {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 1rem 2rem 1rem;
  margin-left: 12vw;
}

.top__header > div > img {
  margin-right: 0.4rem;
  margin-top: 0.4rem;
}

.all__main__chats {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.all__main__chats::-webkit-scrollbar {
  display: none;
}

.main_thing {
  display: flex;
  flex-direction: column;
  /* height: 70vh; */
  /* overflow-y: scroll; */
  width: 100%;
}

.main_thing::-webkit-scrollbar {
  display: none;
}

.Question {
  color: rgb(156 163 175);
  padding-bottom: 1.5rem;
}

.Answer {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  align-items: start;
}

.Answer > img {
  width: 0.7rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.inside__answer {
  width: 80%;
  background: linear-gradient(to bottom right,rgb(31 41 55 / .4), rgb(31 41 55 / 0));
  padding: 1.1rem 1.3rem 1.2rem 1.4rem;
  border-radius: 16px;
  border: 1px solid rgb(31 41 55);
}

.inside__answer > span {
  color: #c7c7c7;
}

.chat__input > input {
  width: 88%;
  background: rgb(55 65 81);
  border: 1px solid rgb(31 41 55);
  padding: 1rem 1rem;
  border-radius: 12px;
  font-size: 0.9rem;
  color: #c7c7c7;
  outline: none;
}

.chat__input > input::placeholder {
  color: #c7c7c7;
}

::-webkit-scrollbar{
  display: none;
}